{% extends "layout.html" %}

{% block body %}


<div id="main">

    <section class="row section" style="background-color:#FF605F;">
        <div class="row-content buffer even clear-after">
            <div class="column four">
                <div class="small-icon red"><i class="icon icon-paperfly"></i></div>
                <div class="small-icon-text clear-after">
                    <h4>Landing page</h4>
                    <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="column four">
                <div class="small-icon red"><i class="icon icon-diamond"></i></div>
                <div class="small-icon-text clear-after">
                    <h4>Portfolio</h4>
                    <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="column four last">
                <div class="small-icon red"><i class="icon icon-crown"></i></div>
                <div class="small-icon-text clear-after">
                    <h4>Resume</h4>
                    <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="column four">
                <div class="small-icon red"><i class="icon icon-tablet"></i></div>
                <div class="small-icon-text clear-after">
                    <h4>Responsive</h4>
                    <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="column four">
                <div class="small-icon red"><i class="icon icon-megaphone"></i></div>
                <div class="small-icon-text clear-after">
                    <h4>Blog</h4>
                    <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="column four last">
                <div class="small-icon red"><i class="icon icon-multiview"></i></div>
                <div class="small-icon-text clear-after">
                    <h4>Layer CSS</h4>
                    <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </section>  

    <section class="row section call-to-action">
        <div class="row-content buffer even">
            <p>Have you fallen in love with Beetle?</p>
            <a class="button red" href="#">Buy it now!</a>
        </div>
    </section>

    <section class="row section">
    <div class="row-content buffer even clear-after">                   
        <div class="section-title"><h3>Latest News</h3></div>
        <div class="grid-items blog-section masonry-style preload">
            <article class="item column six">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Interior design</h5>
                            <h2>A confortable desk</h2>
                        </div><!-- blog-excerpt -->
                    </div><!-- blog-excerpt-inner -->   
                </a>
            </article>      
            <article class="item column three">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Relax, Hobbies</h5>
                            <h2>How I spend my time</h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div><!-- blog-excerpt-inner -->       
                    </div><!-- blog-excerpt -->                             
                </a>
            </article>                                          
            <article class="item column three">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Holidays</h5>
                            <h2>Snow &amp; silence</h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div><!-- blog-excerpt --> 
                    </div><!-- blog-excerpt-inner -->
                </a>
            </article>
            <article class="item column three">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Music, Headphones</h5>
                            <h2>5 Hi-Fi headphones</h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div><!-- blog-excerpt --> 
                    </div><!-- blog-excerpt-inner -->                           
                </a>
            </article>  
            <article class="item column three">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Web Design</h5>
                            <h2>Build awesome layouts</h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div><!-- blog-excerpt --> 
                    </div><!-- blog-excerpt-inner -->                           
                </a>
            </article>  
            <article class="item column six">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Photography, Instagram</h5>
                            <h2>We are all made of stars</h2>
                        </div><!-- blog-excerpt --> 
                    </div><!-- blog-excerpt-inner -->                           
                </a>
            </article>                                                                      
            <div class="shuffle-sizer three"></div>
        </div><!-- grid-items -->
        <div class="more-btn"><a class="button transparent aqua" href="#">Read all News</a></div>                       
    </div>  
</section>  
</div>

{% endblock %}