{% extends "layout.html" %}

{% block body %}


<div id="main">

    <section class="row section" style="background-color:#FF605F;">
        <div class="row-content buffer even clear-after">
            <div class="section-title"><h3>Your Stats</h3></div>
            <div class="chart" data-percent="73" data-bar-color="#fd685b" data-animate="2000">
                <div class="chart-content">
                    <div class="percent"></div>
                    <div class="chart-title">User Interface</div>
                </div><!-- chart-content -->
            </div><!-- chart -->
            <div class="chart" data-percent="85" data-bar-color="#ffce54" data-animate="2500">
                <div class="chart-content">
                    <div class="percent"></div>
                    <div class="chart-title">Front-end</div>
                </div><!-- chart-content -->
            </div><!-- chart -->
            <div class="chart" data-percent="70" data-bar-color="#a0d468" data-animate="3000">
                <div class="chart-content">
                    <div class="percent"></div>
                    <div class="chart-title">User Experience</div>
                </div><!-- chart-content -->
            </div><!-- chart -->
            <div class="chart" data-percent="95" data-bar-color="#ac92ec" data-animate="3500">
                <div class="chart-content">
                    <div class="percent"></div>
                    <div class="chart-title">Icon Design</div>
                </div><!-- chart-content -->
            </div><!-- chart -->
        </div>  
    </section>  

    <section class="row section call-to-action">
        <div class="row-content buffer even">
            <p>Found something neat?</p>
            <a class="button red" href="#">Submit it now!</a>
        </div>
    </section>

    <section class="row section">
    <div class="row-content buffer even clear-after">                   
        <div class="section-title"><h3>Latest News</h3></div>
        <div class="grid-items blog-section masonry-style preload">
            <article class="item column six">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Interior design</h5>
                            <h2>A confortable desk</h2>
                        </div><!-- blog-excerpt -->
                    </div><!-- blog-excerpt-inner -->   
                </a>
            </article>      
            <article class="item column three">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Relax, Hobbies</h5>
                            <h2>How I spend my time</h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div><!-- blog-excerpt-inner -->       
                    </div><!-- blog-excerpt -->                             
                </a>
            </article>                                          
            <article class="item column three">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Holidays</h5>
                            <h2>Snow &amp; silence</h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div><!-- blog-excerpt --> 
                    </div><!-- blog-excerpt-inner -->
                </a>
            </article>
            <article class="item column three">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Music, Headphones</h5>
                            <h2>5 Hi-Fi headphones</h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div><!-- blog-excerpt --> 
                    </div><!-- blog-excerpt-inner -->                           
                </a>
            </article>  
            <article class="item column three">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Web Design</h5>
                            <h2>Build awesome layouts</h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div><!-- blog-excerpt --> 
                    </div><!-- blog-excerpt-inner -->                           
                </a>
            </article>  
            <article class="item column six">
                <a href="#">
                    <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                    <div class="blog-excerpt">
                        <div class="blog-excerpt-inner">
                            <h5 class="meta-post">Photography, Instagram</h5>
                            <h2>We are all made of stars</h2>
                        </div><!-- blog-excerpt --> 
                    </div><!-- blog-excerpt-inner -->                           
                </a>
            </article>                                                                      
            <div class="shuffle-sizer three"></div>
        </div><!-- grid-items -->
        <div class="more-btn"><a class="button transparent aqua" href="#">Read all News</a></div>                       
    </div>  
</section>  
</div>

{% endblock %}